#top {
  background: #333333;
  height: 35px;
}
#top .top {
  margin: 0 auto;
  width: 1090px;
  font-size: 12px;
  color: #c9c9c9;
}
#top .top .content {
  display: flex;
  justify-content: space-between;
}
#top .top .content > div:nth-child(1) p {
  display: inline-block;
  margin-right: 25px;
  line-height: 35px;
}
#top .top .content > div:nth-child(1) p:nth-child(2) {
  color: #B4A078;
}
#top .top .content > div:nth-child(1) p:nth-child(2) a {
  text-decoration: underline;
}
#top .top .content > div:nth-child(1) p:nth-child(2) a:hover {
  text-decoration: none;
}
#top .top .content > div:nth-child(2) a:hover {
  color: #fff;
}
#top .top .content > div:nth-child(2) > a {
  margin-right: 15px;
}
#top .top .content > div:nth-child(2) ul {
  display: inline-block;
}
#top .top .content > div:nth-child(2) ul li {
  position: relative;
  display: inline-block;
  line-height: 35px;
}
#top .top .content > div:nth-child(2) ul li:hover div {
  display: block;
}
#top .top .content > div:nth-child(2) ul li > a {
  border-left: 1px solid #5C5C5C;
  padding: 0 10px;
}
#top .top .content > div:nth-child(2) ul li div {
  display: none;
  position: absolute;
  top: 30px;
  right: -10px;
  padding: 10px;
  background: #fff;
  border: 1px solid #dddddd;
  line-height: 14px;
  z-index: 200;
}
#top .top .content > div:nth-child(2) ul li div img {
  margin-bottom: 5px;
}
#top .top .content > div:nth-child(2) ul li div span {
  color: #B4A078;
}
@-webkit-keyframes navani {
  0% {
    top: -42px;
  }
  100% {
    top: 0;
  }
}
#nav {
  height: 190px;
  box-shadow: 0 2px 5px #ddd;
}
#nav #nav_in {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 190px;
  background: #fff;
  box-shadow: 0 2px 5px #ddd;
  z-index: 100;
}
#nav #nav_in .nav_in {
  margin: 0 auto;
  width: 1090px;
  background-image: url("../img/lo_bg.gif");
  background-position: top center;
  background-repeat: no-repeat;
}
#nav #nav_in .nav_in .src {
  text-align: right;
  padding-top: 100px;
  height: 30px;
}
#nav #nav_in .nav_in .src from {
  display: inline-block;
}
#nav #nav_in .nav_in .src from input {
  float: left;
  width: 252px;
  height: 23px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #dddddd;
}
#nav #nav_in .nav_in .src from button {
  float: left;
  width: 22px;
  height: 22px;
  border: 0;
  outline: 0;
  background: 0;
  background-image: url("../img/icon.png");
  background-position: 0 -3852px;
}
#nav #nav_in .nav_in .src a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  width: 22px;
  height: 22px;
}
#nav #nav_in .nav_in .src a i {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon.png");
  background-position: 0 -325px;
}
#nav #nav_in .nav_in .src a span {
  position: absolute;
  top: -10px;
  right: -10px;
  display: inline-block;
  width: 20px;
  height: 22px;
  background-image: url("../img/icon.png");
  background-position: 0 -264px;
  color: #fff;
  text-align: center;
}
#nav #nav_in .nav_in .nav_list {
  text-align: center;
}
#nav #nav_in .nav_in .nav_list .logo {
  display: none;
}
#nav #nav_in .nav_in .nav_list > ul {
  display: inline-block;
  font-size: 0;
}
#nav #nav_in .nav_in .nav_list > ul > li {
  display: inline-block;
  padding: 0 25px;
  font-size: 14px;
  font-weight: 600;
  line-height: 60px;
}
#nav #nav_in .nav_in .nav_list > ul > li:hover > a {
  color: #B4A078;
  border-bottom-color: #B4A078;
}
#nav #nav_in .nav_in .nav_list > ul > li > a {
  display: inline-block;
  padding: 6px 0;
  border-bottom: 3px solid transparent;
  line-height: normal;
}
#nav #nav_in .nav_in .nav_list > ul > li > div {
  display: none;
  position: absolute;
  left: 0;
  bottom: -100px;
  height: 100px;
  width: 100%;
  background: #fff;
  text-align: center;
  z-index: 100;
}
#nav #nav_in .nav_in .nav_list > ul > li > div ul {
  height: 60px;
  background: #fff;
  line-height: normal;
}
#nav #nav_in .nav_in .nav_list > ul > li > div ul li {
  display: inline-block;
  padding: 0 30px;
  line-height: normal;
}
#nav #nav_in .nav_in .nav_list > ul > li > div ul li p {
  margin-top: 10px;
}
#nav #nav_in .nav_in .nav_list > ul > i {
  display: inline-block;
  margin-top: -7px;
  height: 20px;
  border-left: 1px solid #dddddd;
  vertical-align: middle;
}
#nav #nav_in .nav_in .nav_list .login {
  display: none;
}
#nav #nav_in .nav_in .nav_list .login a {
  margin: 0 10px;
  font-size: 12px;
}
#nav #nav_in .nav_in .nav_list .login a:nth-child(3) {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  width: 22px;
  height: 22px;
  font-size: 15px;
  vertical-align: middle;
}
#nav #nav_in .nav_in .nav_list .login a:nth-child(3) i {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon.png");
  background-position: 0 -325px;
}
#nav #nav_in .nav_in .nav_list .login a:nth-child(3) span {
  position: absolute;
  top: -10px;
  right: -10px;
  display: inline-block;
  width: 20px;
  height: 22px;
  background-image: url("../img/icon.png");
  background-position: 0 -264px;
  color: #fff;
  text-align: center;
}
#nav #nav_in .nav_in .add {
  text-align: left;
}
#nav #nav_in .nav_in .add .logo {
  display: inline-block;
  width: 105px;
  height: 35px;
  background-image: url("../img/logo_icon.png");
  background-position: 0 -388px;
  vertical-align: middle;
}
#nav #nav_in .nav_in .add > ul {
  width: 800px;
  text-align: center;
}
#nav #nav_in .nav_in .add > ul > li {
  padding: 0 17px;
  line-height: 60px;
}
#nav #nav_in .nav_in .add .login {
  display: inline-block;
}
#nav #nav_in .nav_in2 {
  background: none;
  z-index: 90;
}
#nav .donghua {
  animation: navani .3s;
}
#footer .item_list {
  display: flex;
  margin: auto;
  width: 1090px;
  padding: 70px 0 30px;
}
#footer .item_list .title {
  width: 363.33333333px;
  box-sizing: border-box;
  text-align: center;
}
#footer .item_list .content {
  padding: 25px 35px 35px;
  box-sizing: border-box;
}
#footer .item_list > div ~ div {
  border-left: 1px solid #dddddd;
}
#footer .item_list .left {
  text-align: center;
}
#footer .item_list .left .content p:nth-child(1) {
  font-size: 26px;
}
#footer .item_list .left .content p:nth-child(2) {
  margin: 10px 0 35px;
  font-size: 14px;
}
#footer .item_list .left .content a {
  display: inline-block;
  width: 124px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #333333;
  border-radius: 3px;
}
#footer .item_list .left .content a:hover {
  background: #666;
  border-color: transparent;
  color: #fff;
}
#footer .item_list .center .content {
  font-size: 13px;
}
#footer .item_list .center .content p:nth-child(1) {
  line-height: 23px;
}
#footer .item_list .center .content p:nth-child(2) {
  margin-top: 22px;
  height: 32px;
  line-height: 32px;
}
#footer .item_list .center .content p:nth-child(2) i {
  display: inline-block;
  margin-left: 12px;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background-image: url("../img/icon.png");
}
#footer .item_list .center .content p:nth-child(2) i:nth-of-type(1) {
  background-position: 0 -5248px;
}
#footer .item_list .center .content p:nth-child(2) i:nth-of-type(2) {
  background-position: 0 -5206px;
}
#footer .item_list .center .content p:nth-child(2) i:nth-of-type(3) {
  background-position: 0 -5164px;
}
#footer .item_list .right {
  text-align: center;
}
#footer .item_list .right .content {
  color: #b4a078;
  font-size: 12px;
}
#footer .item_list .right .content div {
  line-height: 20px;
}
#footer .ft {
  padding-bottom: 25px;
  background: #414141;
  text-align: center;
}
#footer .ft > div {
  margin: auto;
  padding: 30px 0;
  width: 1090px;
  border-bottom: 1px solid #4F4F4F;
  font-size: 0;
}
#footer .ft > div div {
  display: inline-block;
  width: 363.33333333px;
  height: 51px;
  line-height: 51px;
}
#footer .ft > div div i {
  margin-right: 5px;
  display: inline-block;
  width: 51px;
  height: 51px;
  vertical-align: middle;
  background-image: url("../img/icon.png");
}
#footer .ft > div div span {
  display: inline-block;
  height: 51px;
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
}
#footer .ft > div div:nth-child(1) i {
  background-position: 0 -1787px;
}
#footer .ft > div div:nth-child(2) i {
  background-position: 0 -1848px;
}
#footer .ft > div div:nth-child(3) i {
  background-position: 0 -1909px;
}
#footer .ft p {
  font-size: 12px;
  color: #999;
  line-height: 20px;
}
#footer .ft p:nth-of-type(1) {
  margin-top: 30px;
}
#footer .ft p:nth-of-type(1) b {
  padding: 0 5px;
}
#aside {
  position: fixed;
  right: 15px;
  bottom: 54px;
  width: 60px;
  background: #ffffff;
  border: 1px solid #dddddd;
}
#aside > div {
  height: 60px;
  text-align: center;
  color: #999;
  cursor: pointer;
}
#aside > div:hover {
  color: #b4a078;
}
#aside > div i {
  display: inline-block;
  margin-top: 10px;
  width: 22px;
  height: 26px;
  background-image: url("../img/aside.png");
}
#aside > div span {
  display: block;
  font-size: 12px;
}
#aside > div:nth-child(1):hover i {
  background-position: 0 -193px;
}
#aside > div:nth-child(1) i {
  background-position: 0 -157px;
}
#aside > div:nth-child(2):hover i {
  background-position: 0 -36px;
}
#aside > div:nth-child(2) i {
  background-position: 0 0;
}
#aside > div:nth-child(3):hover i {
  background-position: 0 -102px;
}
#aside > div:nth-child(3) i {
  background-position: 0 -70px;
}
#gettop {
  position: fixed;
  bottom: 10px;
  right: 15px;
  width: 62px;
  height: 44px;
  background: #999;
  text-align: center;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}
#gettop i {
  display: inline-block;
  margin: 5px 0;
  background: none;
  width: 12px;
  height: 12px;
  font-style: normal;
}
#gettop span {
  display: block;
}
